
body{
    margin: 0%;
    background-color: #fff;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.nav{
    width: 100%;
    margin-top: -20px;
    background-color:  rgb(218, 149, 20);
    text-align: center;
}

.nav h1{
    color: white;
}

img{
    width: 45%;
    margin-top: -20px;
    height: 50vh;
    padding: 2%;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.image{
    display: flex;
}
.second{
    height: 50vh;
}
.list img{
    width: 96%;
    margin-top: 0%;
    height: 70%;
}
.order img{
    height: 50px;
    border-radius: 10%;
}
a img{
    width:fit-content;
    height: 20%;
}

.menu-container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #fff;
    padding: 20px;
    border: 2px solid #d4d4d4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.menu-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
}
.menu-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.menu-column {
    width: 45%;
    margin-bottom: 20px;
}
.menu-column h2 {
    font-size: 1.2em;
    color: #333;
    text-decoration: underline;
    margin-bottom: 10px;
}
.menu-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-column ul li {
    font-size: 1em;
    color: #666;
    line-height: 1.6;
}
/* Responsive adjustments */
@media (max-width: 600px) {
    .menu-column {
        width: 100%;
    }
}